.myModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
}

.myModal.active {
  z-index: 200;
  opacity: 1;
  pointer-events: all;
}

.myContent {
  transition: all 0.4s;
  transform: scale(0.5);
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 4px 4px 4px;
  padding: 20px;
}

.myContent.active {
  transform: scale(1);
}
