.myButton {
  border: 2px solid black;
  border-radius: 20px;
  font-size: 1.25rem;
  padding: 10px;
  font-family: 'Press Start 2P';
  box-shadow: 4px 4px 4px;
  background-color: purple;
  cursor: pointer;
  transition: all 0.5s;
}

.myButton:hover {
  transform: scale(1.1);
  background-color: rgba(128, 0, 128, 0.62);
  box-shadow: 6px 6px 6px black;
  color: white;
}

.createButton {
  border: 2px solid black;
  border-radius: 20px;
  font-size: 1.25rem;
  padding: 5px 20px;
  font-family: 'Press Start 2P';
  box-shadow: 4px 4px 4px;
  background-color: lightseagreen;
  cursor: pointer;
  transition: all 1s;
  margin: 10px 0px 10px 20px;
}

.createButton:hover {
  background-color: navy;
  box-shadow: 6px 6px 6px black;
  color: white;
}

.quitButton {
  border: none;
  font-family: 'Press Start 2P';
  background-color: transparent;
  margin-left: 22px;
  cursor: pointer;
  color: white;
  font-size: 1.04rem;
}

.quitButton:hover {
  color: yellow;
}
